# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.opensdf
*.sdf
*.suo
*.sdf
*.log
*.vcxproj
*.sln
*.sdf
*.tlog
*.idb
*.pdb
*.ilk
*.pdb
*.filters
*.exe
*.bsc
*.sbr


AllDataHereWillNotCloneToGi/
AlBannaDesigner/Debug/
Binary/AlBannaDesigner.tlog/
AlBannaDesigner\Debug\
Debug/
Binary/AlBannaDesignerGit.bsc

################
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.bsc
*.sbr
*.sbr
AlBannaDesigner/Debug/AlBannaDesigner.log
*.log
AlBannaDesigner/ComeBack/ContinueAsClasses/AdvancedOpenGL/DepthTesting/Depth testing.h
AlBannaDesigner/ComeBack/ContinueAsClasses/AdvancedOpenGL/Blending/Blending.h